<%= form_with(model: syllable_letter) do |form| %>
  <% if syllable_letter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(syllable_letter.errors.count, "error") %> prohibited this syllable_letter from being saved:</h2>

      <ul>
        <% syllable_letter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :syllable_letter, style: "display: block" %>
    <%= form.text_field :syllable_letter %>
  </div>

  <div>
    <%= form.label :phonetic_id, style: "display: block" %>
    <%= form.text_field :phonetic_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
